/* ---------sahil---------- */
:root{
    --blue:#3551B6;

}
.green-color{
    color: var(--green);
}
.light-black{
    color: #818181;
}
.white-color{
    color: white;
}
.light-grey{
    color:#757575;
}
.hero-text{
    line-height: 1.5;
}
.hero-main-pic{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-main-pic::before{
    content: url(/imgs/heroleft.svg);
    position: absolute;
    left:100px;
    top: 50px;
}
.hero-main-pic::after{
    content: url(/imgs/heroright.svg);
    position: absolute;
    right:90px;
    top: 200px;
}
.hero-btn{
    background-color: var(--green);
    padding: 12px 50px;
    color: #000;
    border: 0px;
    border-radius: 5px;
}
.hero-section,.listing-color{
    background-color:#F7F7F7;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.blue-color{
    color: var(--blue);
}
.featurecard-main{
    box-shadow: 0px 0px 30px 0px #0000000D;
}
.featurecard-img{
    width: 60px;
    height: 60px;
    background-color:#F4B942;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-shrink: 0;
}
.featurecard-img2{
    width: 50px;
    height: 50px;
    background-color:#F4B942;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-shrink: 0;
}
.black-color{
    color: black;
}
.featurecard-main2{
    box-shadow: 0px 0px 30px 0px #0000000D;
}
.featurecard-main2:hover{
    background-color: var(--blue);
    color: #ffffff;
}
.pricing{
    background-color: #E8FEFF;
}
.more-btn{
    padding: 2px 20px;
    background-color: var(--green);
    border: 0px;
    border-radius: 30px;
    color: var(--blue);
}
.simplified-price{
    background-color: #3551B6;
    border-radius: 20px;
    min-height: 350px; 
}
.simplified-btn{
    padding: 10px 30px;
    background-color: var(--green);
    border: 0px;
    border-radius: 30px;
    color: var(--blue);
}
.full-feature{
    background-color: var(--green);
    border-radius: 20px;
    min-height: 450px;
}
.fullyfeature-btn{
    background-color: var(--blue);
    color: white;
    padding: 10px 30px;
    border: 0px;
    border-radius: 30px;
}
.simplehost{
    background-color: #ffffff;
}
.simplihost-card{
    box-shadow: 0px 30px 50px 0px #8742EB1A;
    border-radius: 20px;
}
/* .host-cardimg{
    height: 50px;
    width: 100%;
    object-fit: cover;
} */
.around {
    background-image: linear-gradient(180deg, #E9E9EC 0%, #05FFD1 100%);
}
 .slider-arrow{
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .slidercomma{
    width: 15px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .slider-img1{
    width: 35px;
    height: 35px;
    background-color:#FFFAE9;
    border-radius: 50%;
 }
 .slider-bg{
    background-color: #ffffff;
    border: 1px solid #FD6363;
    border-radius: 5px;
 }
 .slider-bg {
    margin-right: 15px;
}

.slider .col-4:last-child .slider-bg {
    margin-right: 0; 
}
.footer{
    background-color: var(--blue);
    color: #ffffff;
}
.footer-list li{
    margin-top: 20px;
}
.f-size{
    font-size: 25px;
}
.footer-text{
   background-color: var(--blue);
    color: #ffffff;
}
/* ------------listing------ */
.listinghero-para{
max-width: 400px;
}
.listings-card {
    box-shadow: 0px 7px 20px 0px #0000001A;
}

.listing-card-size{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    background-color: #F4B942;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borderyellow{
    height: 40px;
    background-color: #F4B942;
    border-radius: 0px 70px 0px 40px;
}
.heading-border {
    border-bottom: 2px solid black;
    padding-bottom: 10px; 
    display: inline-block;
    max-width: max-content; 
}
.furnished-size{
    width: 380px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.furnished-shadow {
    position: relative;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
}
.myy-shadow{
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
}
.furnishedover-size {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 1);
    position: absolute;
    top: 30px;
    right: 30px;
}
.furnished-leftarrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 145px;
    left: 30px;
    background-color: rgba(255, 255, 255, 1);
}
.furnished-rightarrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 145px;
    right: 30px;
    background-color: rgba(255, 255, 255, 1);
}
.furnished-flower{
    width: 50px;
    height: 50px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.furnished-location{
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.furniture-size{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-btn{
    padding: 8px 20px;
    background-color: var(--blue);
    color: white;
    border: 0px;
    border-radius: 10px;
}
.appartment-bg{
    background-color: rgba(255, 255, 255, 0.18);
}
.fa-size{
    font-size: 30px;
}
.listingdeatil-size{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listingshow-all-btn{
    padding: 5px 15px;
    color: var(--blue);
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 8px;
}
.well-funished{
    background-color: rgba(247, 247, 247, 1);
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
}
.funished-btn{
    background: rgba(50, 240, 205, 0.34);
    border-radius: 10px;
}
.funishedpic-size{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:576px){
    .detail-btn{
        padding: 5px 12px;
        background-color: var(--blue);
        color: white;
        border: 0px;
        border-radius: 10px;
    }
}
